body{
	background:black;
	font-family: courier;
	color:pink;
}

<<<<<<< HEAD
h1{
	color: #DCDCDC;
	margin-top: 10px;
=======
h1,h2{
	color: #DCDCDC;
>>>>>>> 56b4e4939ef18dada8cb2f7fa511d3db814e990e
}

h2{
	color: #DCDCDC;
	margin-top: 80px;
}


h4{
	color:white;
}

p{
<<<<<<< HEAD
  margin: 20px; /*SEPARACIÓN ENTRE PÁRRAFOS*/
  text-align: justify; /*TEXTO JUSTIFICADÖ*/
}

b{
	color: white;
}

/*COLORES A LOS LINK*/
a{
color: #ff0080;
}
a:visited {
 color: #ff0080;
}
a:hover, a:active, a:focus {
  color: #00FFFF;
}

/*TEXTO EN COLUMNAS*/
div#columns {
    position: relative;
    width: 750px;
    /*top: 100px;
    background-color: #CCCCCC;*/
}
div#side1 {
    position:absolute;
    width:100px;
    top: 0px;
    left: 0px;
    color:#00FFFF;
    /*background-color: #FF6666;*/
}
div#content {
    position: relative;
    width: 700px;
    top: 0px;
    left: 100px;
}
div#side2 {
    position:absolute;
    width:150px;
    top: 0px;
    left: 800px;
=======
  margin: 80px;
}


/*COLORES A LOS LINK*/
a{
color: #FF1493;
}
a:visited {
 color: #FF1493;
}
a:hover, a:active, a:focus {
  color:#00FFFF;
>>>>>>> 56b4e4939ef18dada8cb2f7fa511d3db814e990e
}