body{
	background:black;
	font-family: courier;
	color:pink;
}

h1,h2{
	color: #DCDCDC;
}

h4{
	color:white;
}

p{
  margin: 80px;
}


/*COLORES A LOS LINK*/
a{
color: #FF1493;
}
a:visited {
 color: #FF1493;
}
a:hover, a:active, a:focus {
  color:#00FFFF;
}